In [85]:
import numpy as np

In [86]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [87]:
b = np.sum(s,axis = 1)
for i in b:
    if i!= 45:
        print("sudoko is not valid")
        break
else:
    print("valid sudoko")

valid sudoko

In [88]:
b = np.sum(s,axis = 0)
for i in b:
    if i!= 45:
        print("sudoko is not valid")
        break
else:
    print("valid sudoko")

valid sudoko

In [89]:
s[0:3,0:3]

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [90]:
s[0:3,3:6]

array([[6, 7, 8],
       [1, 9, 5],
       [3, 4, 2]])

In [91]:
s[0:3,6:9]

array([[9, 1, 2],
       [3, 4, 8],
       [5, 6, 7]])

In [92]:
for i in range(0,9,3):
    for j in range(0,9,3):
        n = (s[i:i+3,j:j+3])
        print(n.sum())

45
45
45
45
45
45
45
45
45

In [93]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [94]:
#Get the shape of the matrix.
data.shape

(5, 3)

In [95]:
#Find the average age of students.
a = data[0:,0]
sum = 0
for i in a:
    sum += i
print(sum/len(a))

18.4

In [96]:
np.mean(data[:,0])

18.4

In [97]:
#Extract Math marks of all students.
data[:,1]

array([85, 92, 76, 65, 90])

In [98]:
#Find the highest Science mark.
np.max(data[:,2])

95

In [99]:
#Get details of the student who scored more than 90 in Math.
 
data[data[:,1] > 90]

array([[19, 92, 88]])

In [100]:
#Increase Math marks of all students by 5.
data[:,1] = data[:,1]+5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [101]:
#Find how many students are younger than 19.
len(data[data[:,0] < 19])

3

In [102]:
#Calculate the average marks in each subject (column-wise mean).
np.mean(data[:,1:],axis = 0)

array([86.6, 83.2])

In [103]:
#Get data of students who scored at least 80 in both subjects.
math = data[:,1] >=80
science = data[:,2] >= 80
math

array([ True,  True,  True, False,  True])

In [104]:
science

array([False,  True,  True, False,  True])

In [105]:
data[math & science]

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [106]:
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [107]:
#Replace all Science marks < 75 with 0.

data[:,2]

array([78, 88, 95, 70, 85])

In [108]:
data[:,2] < 75

array([False, False, False,  True, False])

In [109]:
data[:,2][data[:,2] < 75] = 0

In [110]:
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70,  0],
       [20, 95, 85]])